<!DOCTYPE html>
<html>
<head>
    <title>AI Resume Analyzer</title>
</head>
<body>

<h1>AI Resume Analyzer</h1>

<form action="/analyze" method="POST" enctype="multipart/form-data">
    
    <label>Upload Resume:</label>
    <input type="file" name="resume" required><br><br>

    <label>Select Job Role:</label>
    <select name="role" required>
        <option value="">--Select--</option>
        <option value="Data Scientist">Data Scientist</option>
        <option value="Web Developer">Web Developer</option>
        <option value="AI Engineer">AI Engineer</option>
    </select><br><br>

    <button type="submit">Analyze</button>
</form>

<br>
<a href="/interview">Go to Interview</a>

</body>
</html>